.container {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: black;
  margin: auto;
  margin-top: 100px;
  display: flex;
  margin #welcoming {
    font-size: 17px;
  }
}
.first-block {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 50px;
}

textarea {
  width: 600px;
  height: 200px;
  margin: 20px auto;
  padding: 5px;
  border-radius: 10px;
  resize: none;
}

button {
  width: 200px;
  padding: 8px;
  color: rgb(241, 245, 247);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
    'Lucida Grande' 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(88, 11, 11);
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: rgb(126, 16, 16);
  }
}

#note {
  color: rgb(109, 20, 20);
  background-color: rgb(228, 222, 222);
  border-radius: 10px;
  font-weight: bolder;
  width: 400px;
  height: 100px;
  padding-top: 40px;
  margin: 100px auto;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
