.main_section {
  background: url('https://wallpapercave.com/wp/wp3651989.jpg');
  background-size: cover;
  height: 690px;
  display: flex;
  justify-content: center;
  .main_title {
    color: white;
    font-size: 60px;
    font-family: 'Nanum Pen Script', cursive;
    margin-top: 300px;
    text-shadow: rgb(56, 128, 60) 3px 2px 12px;
    display: flex;
    flex-direction: column;
    button {
      width: 200px;
      height: 80px;
      justify-content: center;
      margin: 10px;
      font-family: 'Nanum Pen Script', cursive;
      border-radius: 65px;
      font-size: 23px;
      a {
        color: black;
      }
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

@media screen and (max-width: 812px) and (min-width: 357px) {
  .main_section {
    .main_title {
      margin-top: 103px;
    }
  }
}
