.card {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: #222629;
  border-radius: 10px;
  word-break: break-word;
  display: flex;
  flex-flow: column;
  width: 400px;
  transition: 3s;
  margin-right: 5px;
  .edit {
    height: 30px;
    border-radius: 10px;
    outline: none;
    padding: 7px;
    margin-bottom: 10px;
    color: #E3AFBC(9, 9, 70);
    &:hover {
      background-color: rgb(255, 255, 255);
    }
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }
  .edit {
    background-color: #f3f3f3;
    color: #314618;
  }
}
.cardBtn {
  width: 70px;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 10px;
  background-color: #86c232;
}

.hiddenCard {
  width: 430px;
  height: 100px;
  margin: 20px auto;
  padding-top: 40px;
  border-radius: 10px;
  background-color: #61892f;
  color: white;
  transition: 3s;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222629;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #65c43c;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
