#general {
  text-align: center;
  #blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #search {
    border-radius: 10px;
    width: 318px;
    height: 25px;
    outline: none;
    border: 1px solid grey;
  }
  #title {
    color: #47af84;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .back {
    display: flex;
    margin: 30px;
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;
    width: 60px;
    &:hover {
      background-color: #47af84;
      color: white;
    }
  }
}

@media screen and (max-width: 812px) and (min-width: 320px) {
  #container {
    width: 220px;
  }
}
