$mainColor: rgb(66, 21, 21);

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $mainColor;
}

a {
  text-decoration: none;
  color: whitesmoke;
}
