.note {
  font-size: 19px;
  font-weight: 400;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin: 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}
